In [4]:
import numpy as np
import pandas as pd
from scipy import integrate

In [15]:
def get_throughput(filepath):
    if '.csv' in filepath:
        df=pd.read_csv(filepath)
    elif '.xlsx' in filepath:
        df=pd.read_excel(filepath)
    current_col_name=df.columns[np.where(df.columns.str.lower().str.contains('current')==True)[0].tolist()[0]]
    time_col_name=df.columns[np.where(df.columns.str.lower().str.contains('test_time')==True)[0].tolist()[0]]
    df[time_col_name]= pd.to_numeric(df[time_col_name])
    time_list =df.filter([time_col_name]).values.reshape(1, -1).ravel().tolist()
    k = (1.0/3600.0)
    new_time_list = [i*k for i in time_list]
    #new_time_list.append(new_time_list[-1])
    time_diff = np.diff(new_time_list)
    time_diff=np.append(time_diff,time_diff[-1])
    # df['new_time'] = time_diff
    df[current_col_name]= pd.to_numeric(df[current_col_name])
    #x = integrate.cumtrapz(df[current_col_name].abs, df['new_time'])
    #x= np.append(x,x[-1])
    y =[0]
    z=[0]
    for i in range(len(df)):
        if (df[current_col_name][i] > 0):
            y.append(y[-1])
            z.append((time_diff[i]*abs(df[current_col_name][i])+z[-1]))
        elif(df[current_col_name][i] == 0):
            y.append(y[-1])
            z.append(z[-1])
        else:
            y.append((time_diff[i]*abs(-1*df[current_col_name][i]))+y[-1])
            z.append(z[-1])
    del y[0]
    del z[0]
    df["charge throughput(Ah)"] = z
    df["discharge throughput(Ah)"] = y
    save_path = "new.csv"
    df.to_csv(save_path, index=False)

In [16]:
filepath = 'modified_cleaned_UL-PUR_N10-EX9_18650_NCA_23C_0-100_0.5-0.5C_i_timeseries.csv'
df = pd.read_csv(filepath)
df

,Date_Time,Test_Time (s),Cycle_Index,Current (A),Voltage (V),Charge_Capacity (Ah),Discharge_Capacity (Ah),Charge_Energy (Wh),Discharge_Energy (Wh),Environment_Temperature (C),Cell_Temperature (C)
0,1970-01-01 00:00:00.078,0.078,1.0,1.133,3.676,0.000,0.0,0.000,0.0,NaN,28.535
1,1970-01-01 00:00:29.045,29.045,1.0,1.133,3.701,0.005,0.0,0.008,0.0,NaN,28.579
2,1970-01-01 00:02:29.051,149.051,1.0,1.133,3.725,0.042,0.0,0.149,0.0,NaN,28.410
3,1970-01-01 00:04:29.060,269.060,1.0,1.133,3.734,0.080,0.0,0.290,0.0,NaN,28.302
4,1970-01-01 00:06:29.068,389.068,1.0,1.133,3.742,0.118,0.0,0.431,0.0,NaN,28.241
...,...,...,...,...,...,...,...,...,...,...,...
43390,1970-02-17 05:15:15.517,4079715.517,205.0,0.214,4.200,2.670,0.0,10.494,0.0,NaN,24.402
43391,1970-02-17 05:17:15.526,4079835.526,205.0,0.205,4.200,2.677,0.0,10.523,0.0,NaN,24.449
43392,1970-02-17 05:19:15.533,4079955.533,205.0,0.195,4.200,2.684,0.0,10.551,0.0,NaN,24.449
43393,1970-02-17 05:21:15.546,4080075.546,205.0,0.187,4.200,2.690,0.0,10.578,0.0,NaN,24.405
43394,1970-02-17 05:23:15.549,4080195.549,205.0,0.179,4.200,2.696,0.0,10.604,0.0,NaN,24.172

In [17]:
get_throughput(filepath)

In [18]:
df = pd.read_csv("new.csv")
df

,Date_Time,Test_Time (s),Cycle_Index,Current (A),Voltage (V),Charge_Capacity (Ah),Discharge_Capacity (Ah),Charge_Energy (Wh),Discharge_Energy (Wh),Environment_Temperature (C),Cell_Temperature (C),charge throughput(Ah),discharge throughput(Ah)
0,1970-01-01 00:00:00.078,0.078,1.0,1.133,3.676,0.000,0.0,0.000,0.0,NaN,28.535,0.009117,0.000000
1,1970-01-01 00:00:29.045,29.045,1.0,1.133,3.701,0.005,0.0,0.008,0.0,NaN,28.579,0.046885,0.000000
2,1970-01-01 00:02:29.051,149.051,1.0,1.133,3.725,0.042,0.0,0.149,0.0,NaN,28.410,0.084655,0.000000
3,1970-01-01 00:04:29.060,269.060,1.0,1.133,3.734,0.080,0.0,0.290,0.0,NaN,28.302,0.122424,0.000000
4,1970-01-01 00:06:29.068,389.068,1.0,1.133,3.742,0.118,0.0,0.431,0.0,NaN,28.241,0.160193,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43390,1970-02-17 05:15:15.517,4079715.517,205.0,0.214,4.200,2.670,0.0,10.494,0.0,NaN,24.402,610.585052,604.044733
43391,1970-02-17 05:17:15.526,4079835.526,205.0,0.205,4.200,2.677,0.0,10.523,0.0,NaN,24.449,610.591886,604.044733
43392,1970-02-17 05:19:15.533,4079955.533,205.0,0.195,4.200,2.684,0.0,10.551,0.0,NaN,24.449,610.598386,604.044733
43393,1970-02-17 05:21:15.546,4080075.546,205.0,0.187,4.200,2.690,0.0,10.578,0.0,NaN,24.405,610.604620,604.044733
43394,1970-02-17 05:23:15.549,4080195.549,205.0,0.179,4.200,2.696,0.0,10.604,0.0,NaN,24.172,610.610587,604.044733

In [ ]:
def get_throughput(data_csv):

    df=data_csv
    current_col_name=df.columns[np.where(df.columns.str.lower().str.contains('current')==True)[0].tolist()[0]]
    time_col_name=df.columns[np.where(df.columns.str.lower().str.contains('test_time')==True)[0].tolist()[0]]
    df[time_col_name]= pd.to_numeric(df[time_col_name])
    time_list =df.filter([time_col_name]).values.reshape(1, -1).ravel().tolist()
    k = (1.0/3600.0)
    new_time_list = [i*k for i in time_list]

    time_diff = np.diff(new_time_list)
    time_diff=np.append(time_diff,time_diff[-1])

    df[current_col_name]= pd.to_numeric(df[current_col_name])

    y =[0]
    z=[0]
    for i in range(len(df)):
        if (df[current_col_name][i] > 0):
            y.append(y[-1])
            z.append((time_diff[i]*abs(df[current_col_name][i])+z[-1]))
        elif(df[current_col_name][i] == 0):
            y.append(y[-1])
            z.append(z[-1])
        else:
            y.append((time_diff[i]*abs(-1*df[current_col_name][i]))+y[-1])
            z.append(z[-1])
    del y[0]
    del z[0]
    df["charge_throughput(Ah)"] = z
    df["discharge_throughput(Ah)"] = y

    return df

In [ ]:
    @StructuringDecorators.must_be_structured
    def get_throughput_life(self, n_cycles_cutoff=40, threshold=0.8):
        """
        Calculate cycle life for capacity loss below a certain threshold

        Args:
            n_cycles_cutoff (int): cutoff for number of cycles to sample
                for the cycle life in order to use median method.
            threshold (float): fraction of capacity loss for which
                to find the cycle index.

        Returns:
            float: cycle life.
        """
        # discharge_capacity has a spike and  then increases slightly between \
        # 1-40 cycles, so let us use take median of 1st 40 cycles for max.

        # If n_cycles <  n_cycles_cutoff, do not use median method
        if len(self.structured_summary) > n_cycles_cutoff:
            max_capacity = np.median(
                self.structured_summary.discharge_capacityt.iloc[0:n_cycles_cutoff]
            )
        else:
            max_capacity = 1.1

        #with open('D:\Oorja.energy\MATR\filename.txt', 'a') as f:
         #   print(self.structured_summary.discharge_capacity.iloc[-2] / max_capacity, file=f)
        #print(self.structured_summary.discharge_capacity.iloc[-2] / max_capacity)
        # If capacity falls below 80% of initial capacity by end of run
        if self.structured_summary.discharge_capacity.iloc[-2] / max_capacity <= threshold:
            cycle_life = self.structured_summary[
                self.structured_summary.discharge_capacity < threshold * max_capacity
            ].index[0]
            throughput= self.structured_summary.discharge_throughput[self.structured_summary.cycle_index==cycle_life]
        else:
            # Some cells do not degrade below the threshold (low degradation rate)
            cycle_life = len(self.structured_summary) 
            throughput= self.structured_summary.discharge_throughput[self.structured_summary.cycle_index==cycle_life]


        return throughput

    @StructuringDecorators.must_be_structured
    def capacities_to_throughput(
        self, thresh_max_cap=0.98, thresh_min_cap=0.78, interval_cap=0.03
    ):
        """
        Get cycles to reach set threshold capacities.

        Args:
            thresh_max_cap (float): Upper bound on capacity to compute cycles at.
            thresh_min_cap (float): Lower bound on capacity to compute cycles at.
            interval_cap (float): Interval/step size.

        Returns:
            pandas.DataFrame:
        """
        threshold_list = np.around(
            np.arange(thresh_max_cap, thresh_min_cap, -interval_cap), 2
        )
        counter = 0
        throughput = pd.DataFrame(np.zeros((1, len(threshold_list))))
        for threshold in threshold_list:
            throughput[counter] = self.get_throughput_life(threshold=threshold)
            counter = counter + 1
        throughput.columns = np.core.defchararray.add(
            "capacity_", threshold_list.astype(str)
        )
        return throughput